.c-prompt-form {
  .form-container {
    background: $more-info-background-color;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem;
  }
  .options-toggle-btn {
    i {
      transition: transform 0.3s ease;
      display: block;
      &.down {
        transform: rotate(180deg);
      }
    }
  }
  .prompt-input-container {
    textarea {
      padding-right: 4rem;
    }
    button {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      color: var(--bs-primary);
    }
  }
  // .collapsing {
  //   transition: none;
  //   display: none;
  // }
}
