.c-modal.modal.fade{aria: { hidden: true, labelledby: "memo-modal-label" },
                    tabindex: -1,
                    id: self.class.id,
                    data: { controller: :modal, 'bs-backdrop' => :static, 'bs-keyboard' => 'false' }}
  .modal-dialog{ class: bs_size_class }
    .modal-content
      .modal-header{ data: { 'modal-target' => 'header' } }
        -if title?
          %h1.modal-title.fs-5
            = title
        %button.btn-close{aria: { label: "Close"},
                          data: { "bs-dismiss" => "modal", 'modal-target' => 'closeButton' },
                          type: :button}
      .modal-body
        = tag.turbo_frame(id: self.class.turbo_frame_body_id, src: nil,
                          data: { 'modal-target' => 'bodyTurboFrame' }, loading: :lazy) do
          .d-flex.justify-content-center
            .spinner-border.text-primary{ role: :status }
              %span.visually-hidden Loading...
      - if footer?
        .modal-footer
          = footer
