.c-more-info{ data: { controller: 'more-info' }}
  .content.d-none{ data: { 'more-info-target' => :content }}
    %turbo-frame{ id:, src:, lazy: true }
      .spinner-border.text-primary.my-3{ role: :status }
        .visually-hidden Loading...
    .content__nub
  %button.btn.icon-btn.image-info-btn{ data: { action: 'click->more-info#onClick' } }
    %i.bi.bi-info-square
  = wrapped
