.c-more-info{
  position: relative;
  display: inline-block;
  .image-info-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $white;
  }
  .content {
    position: absolute;
    bottom: 3.25rem;
    right: 0.5rem;
    background: $white;
    min-width: 5rem;
    max-width: 25rem;
    box-shadow: $more-info-box-shadow;
    border: 1px solid $more-info-border-color;
  }
  .content__nub {
    position: absolute;
    bottom: -20px;
    right: 6px;
    &:after {
      background-color: #E5E4E2;
      content: '';
      position: absolute;
      top: -20px;
      right: 0;
    	width: 0;
      height: 0;
      border-left: 0.5rem solid $more-info-border-color;
      border-right: 0.5rem solid $more-info-border-color;
      border-top: 0.5rem solid $more-info-background-color;
    }
  }
}
