.c-more-info{
  position: relative;
  display: inline-block;
  .image-info-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $white;
  }
  .content {
    position: absolute;
    bottom: 3.25rem;
    right: 0.5rem;
    background: $white;
    padding: 0.5rem;
    max-width: 25rem;
    box-shadow: 0 .15em 1.5em #0000001a,0 0 1em #00000008;
    border: 1px solid $more-info-border-color;
  }
  .content__nub {
    position: absolute;
    bottom: -20px;
    right: 6px;
    &:after {
      content: '';
      position: absolute;
      top: -20px;
      right: 0;
    	width: 0;
      height: 0;
      border-left: 0.5rem solid $more-info-border-color;
      border-right: 0.5rem solid $more-info-border-color;
      border-top: 0.5rem solid $white;
    }
  }
}
