.c-transcription-job
  - if completed?
    .d-flex.justify-content-center.mb-3.mt-1
      = link_to status_message, transcriptions_path, class: 'btn btn-secondary text-white px-2 py-1'
  - elsif failed?
    .alert.alert-warning{role: :alert, class: [status]}= status_message
  - else
    .alert.alert-info{role: :alert, class: [status, 'i-pulse']}= status_message
