.container.mt-2
  .row
    .col-md-8.offset-md-2
      .card.shadow-sm
        .card-header.bg-primary.text-white
          %h4.m-0 Edit Generate Text Preset
        = render partial: 'generate_text_presets/form'
