.c-conversation-turn{ id: }
  .turn.grid.mb-3
    .g-col-1
      %i.bi-person-fill.fs-1
    .g-col-11
      .card.segment{ class: "segment-user" }
        .card-body
          = prompt
  .turn.grid.mb-3
    .g-col-1
      %i.bi-robot.fs-1
    .g-col-11
      .card.segment.segment-assistant
        .card-body{ class: pending_response? && 'text-center' }
          - if pending_response?
            = render SpinnerComponent.new
          - else
            = render ClipboardComponent.new(css_class: 'assistant-response', position: :bottom) do |c|
              = c.with_copyable do
                %div{ data: { 'clipboard-target' => 'source' } }= assistant_response.html_safe
