.conversation{ data: { controller: :conversations,
                       action: 'my-channel:generateText@window->conversations#onGenerateText' } }
  #conversation-turns
    - @conversation.turns.each do |t|
      = render ConversationTurnComponent.new(t)
  = render PromptFormComponent.new(conversation: @conversation)
