.conversation.conversation-container{ data: { controller: :conversation } }
  #conversation-turns.conversation-turns{ data: { 'conversation-target': 'turns' }}
    - @conversation.turns.each do |t|
      = render ConversationTurnComponent.new(t)
  = render PromptFormComponent.new(conversation: @conversation)
