= form_with model: model, data: { turbo_frame: frame_id } do
  = tag.turbo_frame(id: frame_id, class: ['inline-edit']) do
    = field_slot
    .inline-edit-actions
      = link_to edit_link_text, edit_path, class: 'btn btn-primary'
