.c-memo-card {
  height: 15rem;
  background-color: $light;
  @include selectableThing;
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-body {
    overflow: hidden;
  }
  .card-text {
    line-height: 1.75rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    i {
      font-size: 1.5rem
    }
  }
  .card-subtitle {
    font-size: 0.75rem;
  }
  .card-footer {
    button {
      margin-left: 0.5rem;
      position: relative;
      .badge {
        font-size: 1rem;
        position: absolute;
        top: -4px;
        right: -9px;
      }
    }
  }
}
