.c-memo-card {
  background-color: $light;
  @include clickableThing;
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }
  .card-subtitle {
    font-size: 0.75rem;
  }
}
