.c-wysiwyg-editor{ data: { controller: 'wysiwyg-editor',
                   'style-options' => gen_image_style_options_json,
                   'aspect-ratio-options' => gen_image_aspect_ratio_options_json,
                   'gen-text-preset-options' => gen_text_preset_options_json,
                   'gen-text-temperature-options' => gen_text_temperature_options_json,
                   'object-id' => object.id || 'new',
                   'conversation-id' => conversation&.id,
                   action: 'my-channel:generateText@window->wysiwyg-editor#onGenerateText '\
                           'my-channel:generateImage@window->wysiwyg-editor#onGenerateImage '\
                           'memo-form:conversationCreated@window->wysiwyg-editor#onConversationCreated' }}
  .notifications-bar.d-flex.justify-content-center
    %p.text-center.w-50{ data: { 'wysiwyg-editor-target' => 'notification' } }
  = rich_text_area_tag(rich_text_area_name, rich_text_area_value)
