- if container && !component
  #pagination-container
    = container
    = pagination_turbo_frame
- elsif component && !container
  %turbo-stream{action: :append, target: container_id}
    %template
      = component
    %turbo-stream{action: :replace, target: :pagination}
      %template
        - if cursor.present?
          = pagination_turbo_frame
