- if container && !list
  #pagination-container{ data: { controller: :pagination }}
    = container
    %turbo-frame#pagination.d-flex.justify-content-center{ src: collection_path, loading: :lazy }
      = render SpinnerComponent.new(css_class: 'my-3')
- elsif list && !container
  %turbo-stream{action: :append, target: container_id}
    %template
      = list
  %turbo-stream{action: :replace, target: :pagination}
    %template
      - if cursor.present?
        %turbo-frame#pagination.d-flex.justify-content-center{ src: collection_path, loading: :lazy }
          = render SpinnerComponent.new(css_class: 'my-3')
