- if container && !list
  #pagination-container{ data: { controller: :pagination }}
    = container
    %turbo-frame#pagination.d-flex.justify-content-center{ src: collection_path, loading: :lazy }
      .spinner-border.text-primary.my-3{ role: :status}
        %span.visually-hidden Loading...
- elsif list && !container
  %turbo-stream{action: :append, target: container_id}
    %template
      = list
  %turbo-stream{action: :replace, target: :pagination}
    %template
      - if cursor.present?
        %turbo-frame#pagination.d-flex.justify-content-center{ src: collection_path, loading: :lazy }
          .spinner-border.text-primary.my-3{ role: :status}
            %span.visually-hidden Loading...
