.c-clipboard{ data: { controller: :clipboard }, class: css_class }
  - if bottom?
    = copyable
  %button.btn.icon-btn.icon-btn-sm.copy-btn.d-none{ data: { action: 'click->clipboard#copy:prevent',
                                                            'clipboard-target' => 'button',
                                                            'bs-toggle' => 'tooltip',
                                                            'bs-title' => tip } }
    %i.bi.bi-copy{ data: { 'clipboard-target' => 'copyIcon' } }
    %i.bi.bi-check2-square.text-success.d-none{ data: { 'clipboard-target' => 'successIcon' }}
  - if additional_content?
    = additional_content
  - if top?
    = copyable
