.c-conversation.conversation-container{ data: { controller: :conversation } }
  = render partial: 'conversations/title_form', locals: { conversation: }
  #conversation-turns.conversation-turns.mb-2{ data: { 'conversation-target': 'turns' }}
    - conversation.turns.each do |t|
      = render ConversationTurnComponent.new(t)
  = render PromptFormComponent.new(generate_text_request:) do |c|
    - if deletable?
      - c.with_delete_button do
        = link_to [current_user, conversation], data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?',
                                                'bs-toggle' => 'tooltip', 'bs-title' => t('conversation.delete') },
                                                class: 'btn btn-danger icon-btn' do
          %i.bi.bi-trash3.text-white
