.c-conversation.conversation-container.scroll-no-bar-container.container-sm.pb-1#conversation{ data: { controller: :conversation, action: 'prompt-form:promptOptionsShow@window->conversation#onPromptOptionsShow' } }
  #conversation-turns.conversation-turns.mb-2{ data: { 'conversation-target': 'turns' } }
    - conversation.generate_text_requests.each do |gtr|
      = render ConversationTurnComponent.new(generate_text_request: gtr)
  = render PromptFormComponent.new(conversation:)
