.c-color-picker {
  .color-picker-opener {
    height: 3rem;
    width: 3rem;
    padding: 0;
    color: $white;
    font-size: 2rem;
  }
  .swatches {
    top: 4rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 .15em 1.5em #0000001a,0 0 1em #00000008;
    padding: 1rem;
    background: $white;
    z-index: $zindex-tooltip; // 1080
    &.show {
      opacity: 1;
    }
  }
  .swatch {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    .color-picker-btn {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
