.c-color-picker.position-relative{ data: { controller: 'color-picker' } }
  %input{ name: input_name, type: :hidden, value: default_color, data: { 'color-picker-target' => 'input' } }
  %button.btn.color-picker-opener{ style: "background: ##{default_color}",
                                   data: { 'color-picker-target' => 'swatchesButton',
                                           action: 'click->color-picker#toggleSwatches:prevent blur->color-picker#onBlur' } }
    %i.bi.bi-palette-fill
  .swatches.position-absolute.hide{ data: { 'color-picker-target' => 'swatches' }, style: swatch_styles}
    - swatches.each do |swatch, colors|
      .swatch.d-flex{ id: swatch }
        - colors.each do |color|
          %button.btn.color-picker-btn.d-flex{ id: color, style: "background: ##{color}",
                                               data: { color: color,
                                                       action: 'click->color-picker#onChoose:prevent '\
                                                               'blur->color-picker#onBlur focus->color-picker#onFocus' } }
