.c-color-picker {
  .color-picker-opener {
    color: $white;
  }
  .swatches {
    top: 4rem;
    opacity: 0;
    transition: z-index, opacity 0.3s ease-in-out;
    box-shadow: 0 .15em 1.5em #0000001a,0 0 1em #00000008;
    padding: 1rem;
    background: $white;
    z-index: -1;
    &.show {
      opacity: 1;
      z-index: $zindex-tooltip; // 1080
    }
    div:last-of-type {
      margin-bottom: 0;
    }
    .remove-color {
      margin-bottom: -0.5rem;
    }
  }
  .swatch {
    margin-bottom: 1rem;
    .color-picker-btn {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
