%div{ id: id, class: ['c-message', 'list-group-item'] }
  = tag.turbo_frame(id: id, class: 'inline-edit') do
    = message.content
  .btn-group.d-flex.justify-content-end.my-3{'role' => :group, 'aria-label' => 'Message Actions'}
    = link_to t('message.edit'), edit_user_message_path(current_user, message), class: 'btn btn-outline-primary flex-grow-0'
    = link_to 'Delete', [current_user, message], data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' },
    class: 'btn btn-outline-danger flex-grow-0'
