%div{ id: id }
  = render InlineEditComponent.new(model: [current_user, message], attribute: :content, id: id) do |component|
    = component.with_model_attribute do
      = message.content
  = link_to t('message.edit'), edit_user_message_path(current_user, message)
