.c-blob-preview.d-flex.justify-content-center.align-items-center{data: { controller: 'blob-preview' }}
  - if image?
    = render SpinnerComponent.new('data-blob-preview-target': 'spinner')
    = image_tag blob.variant(**variant_options), data: { 'blob-preview-target' => 'image' },
      title: filename, class: ['d-none', (contain? ? 'w-100' : '' )]
  - else
    = short_filename
