.details-fields {
  text-align: left;
  pre {
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0px;
    overflow: auto;
    white-space: normal;
    word-break: break-word;
    max-height: 150px;
    width: auto;
  }
}
