@import 'trix/dist/trix';
/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/

@mixin modalTrixContent {
  height: 76vh;
  overflow: scroll;
  .attachment__caption--editing {
    textarea {
      overflow: hidden;
    }
  }
}

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

.trix-content {
  action-text-attachment {
    .attachment__caption {
      @extend .fw-light, .text-center, .text-black-50;
    }
    .attachment--wav, .attachment--mp3 {
      border: none;
    }
  }
  .attachment[data-trix-content-type='tmp/generate-text-placeholder'] {
    margin: 0.5rem 0;
  }
  // Overrides the trix content's style for H1 to match Bootstrap (eg, .h1)
  h1 {
    font-size: 2.5rem !important;
  }
}

.trix-dialog-tooltip {
  font-size: 1rem;
  margin-left: 0.25rem;
  &::before {
    margin-bottom: 0.5rem;
  }
}
