.inline-edit {
  .inline-action {
    display: initial;
  }
}
.field_with_errors {
  border: 0.25rem solid $warning;
  padding: 0.25rem;
}
.form-errors {
  padding: 0.5rem;
  background: $warning;
  ul {
    margin: 0;
    list-style-type: none;
  }

}

@mixin glowingPulse($hexColor) {
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($hexColor, 0.7); // no shadow, opaque
    }
    50% {
      box-shadow: 0 0 1rem 1rem rgba($hexColor, 0); // full shadow, transparent
    }
    100% {
      box-shadow: 0 0 0 0 rgba($hexColor, 0); // no shadow, transparent
    }
  }
  animation: pulse 2.5s infinite;
}
.p-pulse {
  @include glowingPulse($primary);
}
.i-pulse {
  @include glowingPulse($info);
}

.grid-auto-height {
  grid-auto-rows: 1fr;
}

@mixin clickableThing {
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba($light, 0.5);
  }
}

.icon-btn {
  height: 3rem;
  width: 3rem;
  padding: 0;
  font-size: 2rem;
  &.icon-btn-sm {
    height: 2rem;
    width: 2rem;
    font-size: 1.33rem;
  }
}
