.c-file-input{ data: { controller: 'file-input', file_types: file_types, max_size:, action: drop_action }}
  .input-field
    .upload-progress{ data: { 'file-input-target' => 'uploadProgress' }}
    = form.file_field :file, direct_upload: true, disabled:, class: 'form-control',
      data: { 'file-input-target' => 'input', action: }
  .invalid-feedback{ data: { 'file-input-target' => 'invalidFeedback' }}
