.memos-index
  .container
    = link_to t('memo.new'), new_user_memo_path(current_user), data: { turbo_stream: 'true'}, class: 'btn btn-primary mb-3'
  .container
    = turbo_stream_from current_user, TurboStreams::STREAMS[:blobs]
    #memos.grid.grid-auto-height
      = render(MemoCardComponent.with_collection(@memos))

#memo-modal.modal.fade{aria: { hidden: true, labelledby: "memo-modal-label" }, tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %h1#memo-modal-label.modal-title.fs-5 Modal title
        %button.btn-close{aria: { label: "Close"}, data: { "bs-dismiss" => "modal" }, type: :button}
      .modal-body
        = tag.turbo_frame id: 'memo-modal-body', loading: :lazy, src: user_memo_path(current_user, 16)

      .modal-footer
        %button.btn.btn-secondary{data: { "bs-dismiss" => "modal" }, type: :button} Close
        %button.btn.btn-primary{type: :button} Edit
