.memos-index
  .container
    = link_to t('memos.new'), new_user_memo_path(current_user), data: { turbo_stream: 'true'}, class: 'btn btn-primary mb-3'
  .container
    .list-group#memos
      = render(MemoComponent.with_collection(@memos))
