.memos-index
  .container
    %button.btn.btn-primary.mb-3{ data: { controller: 'modal-opener', modal: ModalComponent.id, src: new_user_memo_path(current_user) } }
      = t('memo.new')
  .container
    = turbo_stream_from current_user, TurboStreams::STREAMS[:blobs]
    #memos.grid.grid-auto-height
      = render(MemoCardComponent.with_collection(@memos))
= render ModalComponent.new(size: :xl)
