.memos-index
  .container
    = link_to t('memo.new'), new_user_memo_path(current_user), data: { turbo_stream: 'true'}, class: 'btn btn-primary mb-3'
  .container
    = turbo_stream_from current_user, TurboStreams::STREAMS[:blobs]
    #memos.grid.grid-auto-height
      = render(MemoCardComponent.with_collection(@memos))
= render ModalComponent.new(id: 'memo-modal', size: :xl)
