= render PaginationComponent.new(cursor: @cursor, container_id: :memos,
                                 path: [:user_memos_path, current_user]) do |pagination|
  = pagination.with_list do
    = render MemoCardComponent.with_collection(@memos)
